<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>newsCalenderOCNew.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE9716491F1F6D6A0042C46A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE9716621F1F6D6B0042C46A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE97166D1F1F6D6B0042C46A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
